<h1>You asked about "<%= @query %>"...</h1>

<h3>Words</h3>
<% if @words.blank? %>
  <p>"<%= @query %>" does not exist in the library.
  You can <%= link_to "sign up", new_user_registration_path %> or
  <%= link_to "log in", new_user_session_path %> to add it now.</p>
<% else %>
  <ul class="search-results">
    <% @words.each do |word| %>
      <li>
        <%= link_to word.name, word %>
      </li>
    <% end %>
  </ul>
<% end %>

<h3>Definitions</h3>
<% if @definitions.blank? %>
  <p>There are no definitions related to "<%= @query %>".</p>
<% else %>
  <ul class="search-results">
    <% @definitions.each do |definition| %>
      <li>
        <%= link_to definition.word.name, definition.word %>
        <p><%= definition.details %></p>
        <p><%= definition.example %></p>
      </li>
    <% end %>
  </ul>
<% end %>
