<nav>
  <ul>
    <li><%= link_to "Words", words_path %></li>
  <% if current_user %>
    <li><%= link_to "Add a Word", new_word_path %></li>
    <li><%= link_to "Random Word!", word_path(Word.random) %></li>
    <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
  <% else %>
    <li><%= link_to "Log In", new_user_session_path %></li>
    <li><%= link_to "Sign Up", new_user_registration_path %></li>
  <% end %>
  </ul>
</nav>
