<h3>Definition</h3>

<%= render partial: "flaggings/flagging", locals: {item: definition} %>


<p class="def-details"><%= definition.details %></p>
<p class="def-example"><%= definition.example %></p>

<%= render partial: "shared/author", locals: {item: definition} %>

<div class="def-votes">
  <%= link_to "vote up", upvote_definition_path(definition), method: :put %>
  (<%= definition.get_up_votes.size %>)
  <%= link_to "vote down", downvote_definition_path(definition), method: :put %>
  (<%= definition.get_down_votes.size %>)
</div>
