<h3>Definition</h3>

<p class="def-details"><%= definition.details %></p>
<p class="def-example"><%= definition.example %></p>

<div class="def-author">
  By <%= definition.user.username %>
  on <%= definition.when_created %>
  <% if current_user == definition.user %>
    <%= link_to "Edit", edit_definition_path(definition) %> |
    <%= link_to "Delete", definition_path(definition), method: :delete,
        data: { confirm: "CAUTION: DELETION CANNOT BE UNDONE.\n\nAre you sure you want to delete this definition?"} %>
  <% end %>
</div>

<div class="def-votes">
  <%= link_to "vote up", upvote_definition_path(definition), method: :put %>
  (<%= definition.get_up_votes.size %>)
  <%= link_to "vote down", downvote_definition_path(definition), method: :put %>
  (<%= definition.get_down_votes.size %>)
</div>
