<div class="definition">

  <div class="def-flag">
    <%= render partial: "flaggings/flagging", locals: {item: definition} %>
  </div>

  <div class="def-definition">
    <h4>Definition</h4>
    <%= definition.details %>
  </div>

  <% if !definition.example.blank? %>
    <div class="def-example">
      <h4>Example</h4>
      <%= definition.example %>
    </div>
  <% end %>

  <div class="def-author">
    <%= render partial: "shared/author", locals: {item: definition} %>
  </div>

  <div class="def-votes">
    <%= link_to "vote up", definition_votes_path(definition), method: :post %>
    (<%= definition.get_up_votes.size %>)
    <%= link_to "vote down", definition_vote_path(definition), method: :delete %>
    (<%= definition.get_down_votes.size %>)
  </div>

</div>
