<div class="form-field">
  <%= f.label :details, "Definition" %><br />
  <div class="field-helper">
    Write a concise definition for this word.
  </div>
  <%= f.text_area :details, required: "required" %>
</div>

<div class="form-field">
  <%= f.label :example %><br />
  <div class="field-helper">
    Provide an example of how this word is used in an original
    sentence or quoted text (please provide the source).
  </div>
  <%= f.text_area :example %>
</div>

<div class="form-actions">
  <%= f.submit "Save", name: nil %>
</div>
