<div class="form-field">
  <%= f.label :details %>
  <%= f.text_area :details %>
</div>

<div class="form-field">
  <%= f.label :example %>
  <%= f.text_area :example %>
</div>

<div class="form-actions">
  <%= f.submit "Save" %>
</div>
