<h1>Browse equestrian words</h1>

<ul class="words-list-tabs">
  <%= tab_link "New", words_path(recent: true) %>
  <%= tab_link "Undefined", words_path(undefined: true) %>
</ul>

<ul class="words-list">
  <% @words.each do |word| %>
    <li>
      <%= link_to word do %>
        <h4><%= word.name %></h4>
        <p>
          <%= word.cached_votes_up %> &#x25B2;, <%= word.cached_votes_down %> &#x25BC;<br />
          <%= word.definitions.count %> definitions<br />
          <span>view word</span>
        </p>
      <% end %>
    </li>
  <% end %>
</ul>
