<h1><%= @word.name %></h1>

<div class="word-author">
  By <%= @word.user.username %>
  on <%= @word.when_created %>
  <%= link_to "Edit", edit_word_path(@word) if current_user == @word.user %> |
  <%= link_to "Delete", word_path(@word), method: :delete,
      data: { confirm: "CAUTION: DELETION CANNOT BE UNDONE.\n\nAre you sure you want to delete this word?"} %>
</div>

<div class="word-votes">
  <%= link_to "like", like_word_path(@word), method: :put %> (<%= @word.cached_votes_up %>)
  <%= link_to "dislike", dislike_word_path(@word), method: :put %> (<%= @word.cached_votes_down %>)
</div>

<% if @definitions %>
    <%= render @definitions %>
<% end %>

<% if current_user %>
  <h3>Add a Definition</h3>
  <%= form_for [@word, @new_definition] do |f| %>
    <%# render "shared/errors", object: @new_definition %>
    <%= render partial: "definitions/form", locals: {f: f} %>
  <% end %>
<% end %>
