<h1><%= @word.name %></h1>
<div class="word-votes">
  <%= link_to "like", like_word_path(@word), method: :put %> (<%= @word.cached_votes_up %>)
  <%= link_to "dislike", dislike_word_path(@word), method: :put %> (<%= @word.cached_votes_down %>)
</div>

<% if @definitions %>
    <%= render @definitions.order(wilson_score: :desc) %>
<% end %>

<% if current_user %>
  <h3>Add a Definition</h3>
  <%= render partial: "definitions/form", word: @word %>
<% end %>
