<h1><%= @word.name %></h1>

<%= link_to "Flag this", word_flaggings_path(@word), method: :post %>

<div class="word-tags">
  <% @word.tags.each do |tag| %>
    <span><%= link_to tag.name, tag_path(tag) %></span>
  <% end %>
  <% if current_user == @word.user %>
    <%= link_to "Add tag", edit_word_path(@word) %>
  <% end %>
</div>

<%= render partial: "shared/author", locals: {item: @word} %>

<div class="word-votes">
  <%= link_to "like", like_word_path(@word), method: :put %> (<%= @word.cached_votes_up %>)
  <%= link_to "dislike", dislike_word_path(@word), method: :put %> (<%= @word.cached_votes_down %>)
</div>

<% if !@related_words.blank? %>
  <div class="related-words">
    <h3>Related words:</h3>
    <% @related_words.each do |w| %>
    <%= link_to w.name, word_path(w) %>
    <% end %>
  </div>
<% end %>

<% if @definitions %>
    <%= render @definitions %>
<% end %>

<% if current_user %>
  <h3>Add a Definition</h3>
  <%= form_for [@word, @new_definition] do |f| %>
    <%= render "shared/errors", object: @new_definition %>
    <%= render partial: "definitions/form", locals: {f: f} %>
  <% end %>
<% end %>
