<!DOCTYPE html>
<html>
  <head>
    <title>Dialeqt :: The Language of Equestrians</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag "application" %>
  </head>

  <body>
    <div class="container">

      <header>
        <div class="masthead">
          <%= link_to root_url do %>
          <h1>dial<span>eq</span>t</h1>
          <% end %>
        </div>
        <%= render "shared/navigation" %>
        <%= render "search/form" %>
      </header>

      <% flash.each do |key, message| %>
        <div class="flash flash-<%= key %>">
          <%= message %>
        </div>
      <% end %>

      <main>
        <%= yield %>
      </main>

      <footer>
        <%= render "shared/footer" %>
      </footer>

    </div>
  </body>
</html>
