<!DOCTYPE html>
<html>
  <head>
    <title>Dialeqt :: The Language of Equestrians</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag "application" %>
  </head>

  <body>
    <header>
      <%= link_to root_url do %>
        <h1>dialeqt</h1>
      <% end %>
      <%= render "shared/navigation" %>
      <%= render "search/form" %>
    </header>

    <% flash.each do |key, message| %>
      <div class="flash flash-<%= key %>">
        <%= message %>
      </div>
    <% end %>

    <%= yield %>

  </body>
</html>
