<!DOCTYPE html>
<html>
  <head>
    <title>Dialeqt</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag "application" %>
  </head>

  <body>
    <header>
      <%= render "shared/navigation" %>
    </header>

    <% flash.each do |key, message| %>
      <div class="flash flash-<%= key %>">
        <%= message %>
      </div>
    <% end %>

    <%= yield %>

  </body>
</html>
