<!DOCTYPE html>
<html>
  <head>
    <title>Dialeqt</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <% flash.each do |key, message| %>
      <div class="flash flash-<%= key %>">
        <%= message %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
